@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nova+Square&family=Poppins:wght@400;600&family=Quicksand:wght@300;400;500;600;700&family=Tilt+Prism&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    color : white;
/* font-family: 'Mukta', sans-serif; */
font-family: 'Nova Square', sans-serif;
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Tilt Prism', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
}
.findb{    border: 2px solid blue ;}
.findg{    border: 2px solid green;}
.findr{    border: 2px solid red;}
.border_neone{     border: 4px solid var(--neone); }
.border_neone2{    border: 8px solid var(--neone);}
.color-neone{ color: var(--neone);}
.color-palette2{ color: var(--Palette14);}
.color-palette3{ color: var(--Palette6);}
.bg-palette2{ background-color: var(--Palette14);}
.bg-palette3{ background-color: var(--Palette6);}

html{
    font-size: 90%;
    overflow-x: hidden;
}
:root{
    --palette01: #00080f;
    --Palette0: #010f1a;
    --Palette1: #012A4A;
    --Palette2: #013A63;
    --Palette3: #01497C;
    --Palette4: #014F86;
    --Palette5: #2C7DA0;
    --Palette6: #A9D6E5;
    --Palette11: #01161E;
    --Palette12: #124559;
    --Palette13: #598392;
    --Palette14: #AEC3B0;
    --Palette15: #EFF6E0;
    --neone: #36ff14;
}


body {
    background: linear-gradient(135deg, 
        var(--Palette12) 0%, 
        var(--Palette1) 16%, 
        var(--Palette11) 40%, 
        var(--Palette0) 55%, 
        var(--palette01) 70%, 
        black 100%);
}

.bg_black_to_transparent{
    background: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, .000) 25%, 
        rgba(0, 0, 0, 0.000) 40% ,
        rgba(0,0,0,0) 55%,
        rgba(0,0,0, .3) 60%, 
        rgba(0, 0, 0, 0.8) 80% , 
        black 100%);
}
.imagehover:hover{
    background: linear-gradient(125deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .05000) 25%, rgba(0, 0, 0, 0.1000) 40% ,rgba(0,0,0,.2) 55%,rgba(0,0,0, .4) 60%, rgba(0, 0, 0, 0.8) 75% , black 100%);
    /* box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.100); */
}
/* Navigation css */
.tilt-prism{
    /* border: 2px solid blue ; */
    font-family: 'Tilt Prism', sans-serif;
}

.menu-icon{
    color: var(--Palette15);
    display : none;
}
.Nav>div>ul>li{
    /* border: 2px solid blue ; */
    padding: 5px 1vw;
}
.Nav>div>ul>li>a{
    /* border: 2px solid blue ; */
    padding: 10px;
    transition: .3s;
}
.Nav>div>ul>li>a:hover,
.Nav>div>ul>li>a.active{
    color: var(--Palette5);
}
.form-group{
    /* border: 2px solid yellow ; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}
/* home css  */
.webkit-t-s{-webkit-text-stroke: 3px var(--neone);}
.home-content .text-animate h2{
    -webkit-text-stroke: 2px var(--Palette6);
}
.home-content p{
    /* border: 2px solid blue ; */
    margin: 2rem 0 4rem;
}

.btn-box {
    color: var(--Palette11);
    border: .25 rem solid var(--Palette13);
    z-index: 1;
    overflow: hidden;
}


.btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Palette15);
    z-index: -1;
    transition: .5s;
}

.btn-box:hover::before{
    width: 100%;
}
.home-sci a{
    border: 2px solid var(--Palette13);
    font-size: 5rem;
    color: white;

}
.home-sci a{
    
    overflow: hidden;
    color:white;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Palette15);
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}


 
 
.circle-spin{
    transform: translate(-50%,-50%) rotate(0);
   
    /* border-radius: 50%; */
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent ;
    border-left: .3rem solid var(--Palette6);
    border-right: .3rem solid var(--Palette6) ;
 }



